.interface button{
    width: 100px;
    height: 50px;
    background-color: palegreen;
    font-weight: bold;
    font-size: 20px;
}

.linha5 button:last-child{
    border-radius: 0px 0px 5px 0px;
}

.linha5 {
    display: flex;
}

.linha5 button:first-child{
    flex: 1;
    border-radius: 5px 0px 0px 10px;
}

.visor{
    background-color: rgb(131, 91, 192);
    color: white;
    height: 80px;
    text-align: right;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.linha{
  display: flex;
}

.linha button{
  flex: 1;
}